<!DOCTYPE html>
<html>    
<head>  
    <link rel="icon" href="./img/weather.png">
    <title> About </title>
    <link rel ="stylesheet" href="./css/styles.css">   
<body>
    <div class="main-content"> 
        {{>header}} 
        <p> Created by Vishnu Kadaba. It uses API's from Mapbox.com and weatherstack.com compiling it with node.js and utilizing css and html to make it user friendly </p>
        <img class ="portrait" src="\img\IMG_20200401_222454_950.jpg">
    </div>

{{>footer}}

</body>
</head>
</html>
